/**
这是一个选择器列表，使用','分割，如果其中一个选择器解析失败，会导致所有的选择器都失败
*/
#id1, #id2 {
    color: green;
}

/**伪类选择器*/
a:hover {
    color: rgb(255, 249, 192);
}

/**标签属性选择器，只有在标签存在指定属性的情况下会触发*/
p[name] {
    color: pink;
}